table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

th {
    border-bottom-color: grey;
    border-bottom-width: 2px;
}

td {
    padding: 20px;
}

caption {
    color: red;
    border: 1px solid red;
    margin-top: 20px;
    position: relative;
    top: -19px;
}



.picture {
    text-align: center;
}

img {
    border-color: orange;
    border-width: 10px;
    border-style: solid;
    border-style: ;
}

#head1, #head2 {
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-bottom-color: grey;
    border-bottom-width: 1px;
}

.head_media {
    text-align: center;
    margin-bottom: 50px;
}

.list {
    margin-left: 60px;
}

